.img {
    transform: scale(1);
}

.safeDiv {
    width: 50%;
}

@media (max-width:576px) {
    .img {
        transform: scale(1.4);
    }

    ul li {
        list-style-type: disc;
        margin-left: -1rem;
    }
}

@media (max-width:992px) {
    .safeDiv {
        width: 100%;
    }
}