::-webkit-scrollbar{
    width: 0;
    height: 0;
    background: transparent;
}

.servicename:hover{
    cursor: pointer;
    transition: all .25s;
}

.servicename:hover{
    transform: scale(1.05);
}

@media (min-width:992px) {
    body{
        overflow-x: hidden;
    }
}